fastapi
uvicorn
python-multipart
pillow
opencv-python
torch==2.1.2
torchvision==0.16.2
rembg>=2.0.55
onnxruntime-gpu==1.15.1
supervision
pycocotools
huggingface-hub
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
diffusers
transformers
accelerate
